
    <div style="display: inline-block">
        <a href="https://pinout.xyz/" target="pinout">
    <img src="pi-pinout.png" width="360" height="550" alt="Raspberry Pi Pinout von https://pinout.xyz/">
    </a>
    </div>
    <div style="display: inline-block; vertical-align:top; margin: 30px;">
        <h3>Strom</h3>
        <ul>
            <li>3.3V Pin: max. 50mA</li>
            <li>GPIO Pins: <i>max. 12-15 mA und 3.3V!</i></li>
            <li>5V Pins: gem. Netzteil / Stromversorgung</li>
        </ul>

        <h3>Verbinden</h3>
        Über ein SSH-Terminal, oder direkt im Chrome-Browser mit der Chrome-Erweiterung <a href="https://chrome.google.com/webstore/detail/secure-shell-app/pnhechapfaindjhompbnflcldabbghjo/related?hl=de" target="terminalapp">Secure Shell App</a> von Google.
        <ul>
            <li>Terminal: <a href="ssh://pi@{{host}}" target="shell">ssh pi@{{host}}</a></li>
            <li>Dateitransfer/Laufwerk: sftp://pi@{{host}}</li>
            <li>Ins Home-Verzeichnis des Users 'pi' wechseln: <i>cd /home/pi</i></li>
            <li>Ein Python-Programm ausführen: <i>python3 codedateiname.py</i>
            <br>(die generierten Python-Programme liegen in ~/blockly-pi/generated_code/)</li>

        </ul>

        <h3>Dokumentationen</h3>
        <ul>
            <li><a href="https://docs.google.com/document/d/1G_A3cNzAohRZtJpBXlb9xGG4zNAH3jWeYTGIznhh3Jw/" target="bpdoc"><b>Die Blockly Pi Doku</b></a></li>
            <li><a href="https://www.cs.put.poznan.pl/csobaniec/software/python/py-qrc.html" target="pyref">Python3 Schnellreferenz</a></li>
            <li><a href="https://pinout.xyz/" target="pinout">Raspberry Pi Pinbelegung</a></li>
            <li><a href="https://pythonbuch.com/einfuehrung.html" target="pythontut">Python Programmiereinführung</a></li>
            <li><a href="https://tutorials-raspberrypi.de/raspberry-pi-gpio-erklaerung-beginner-programmierung-lernen/" target="gpioerkl">GPIOs schalten und lesen</a></li>
            <li><a href="https://gpiozero.readthedocs.io/en/stable/recipes.html" target="gpiozero">Die GPIOZero Library</a></li>
            <li><a href="https://www.raspberrypi-spy.co.uk/2018/02/basic-servo-use-with-the-raspberry-pi/" target="servo">Servos steuern</a></li>
            <li><a href="https://www.tu-chemnitz.de/informatik/friz/linux/referenz.php" target="linux">Linux Terminal Kurzreferenz</a></li>

        </ul>
    </div>
